@import "@economist/component-palette-worldif";
@import "@economist/component-font-neutra2";

.user-more-menu {
  height: 100%;
}

.user-more-menu ul,
.user-more-menu li {
  margin: 0;
  padding: 0;
}

.user-more-menu .mainmenu li {
  display: inline-block;
  position: relative;
}

.user-more-menu h3 {
  font-size: 14px;
  color: var(--white);
  font-weight: bold;
  margin-top: 0;
}

.user-more-menu a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 14px;
  text-decoration: none;
}

.user-more-menu svg {
  width: 60px;
  height: 60px;
}

.user-more-menu .submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  height: auto;
  width: 320px;
  z-index: 999999;
  margin: 0;
}
.user-more-menu .submenu > li {
  padding: 12px;
  width: 100%;
}
.user-more-menu .submenu > li ul > li:not(:last-child) {
  margin-bottom: 8px;
}
.user-more-menu .submenu > li ul > li {
  width: 100%;
}
.user-more-menu .submenu > li ul > li a {
  line-height: 22px;
}
.user-more-menu .user-menu a {
  color: var(--white);
}
.user-more-menu .user-menu .log-out-btn,
.user-more-menu .user-menu .log-in-btn {
  background: var(--vivid-blue);
  text-align: center;
  font-weight: bold;
  line-height: 35px;
}
.user-more-menu .user-menu ul {
  margin-bottom: 12px;
}
.user-more-menu .more-from-economist-menu a,
.user-more-menu .my-subscription-menu a {
  color: var(--ultralight-grey);
}
.user-more-menu .user-menu,
.user-more-menu .my-subscription-menu,
.menu:hover {
  background: var(--black);
}
.more-from-economist-menu {
  background: var(--dark-grey);
}
.user-more-menu .subscription-menu a {
  font-weight: bold;
  color: var(--orange);
  font-size: 18px;
}

.Icon-hamburger {
  fill: #fff;
}

.menu {
  cursor: pointer;
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.menu[data-open="true"] + .submenu {
  display: block;
}

.menu[data-open="false"] + .submenu {
  display: none;
}

.menu[data-open="false"] {
  background-color: #333;
}

.menu[data-open="true"] {
  background-color: #000;
}

.menu[data-open="false"]:hover {
  background-color: #000;
}

.menu[data-open="true"]:hover {
  background-color: #000;
}